.dormVisitor-block{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #d0e5f5;
    /* z-index: -1; */
}


.name-dormVisitor{
    font-size: 48px;
    color: #0050b9;
    font-weight: bold;
    margin-left: 20px;
}

.dorm-data-container{
    
    border: 1px solid rgb(231, 231, 231);
    background-color: white;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 6px 8px 0px  rgba(0, 0, 0, 0.2);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}



.image-dormVisitor-container{
    display: flex;
    justify-content: space-evenly;
}



.img-box-dormVisitor{
    width: 240px;
    height: 240px;
    border-radius: 10px;
}




.content-dormVisitor{
    margin-top: 20px;
    border-radius: 10px;
    border: 3px solid #d1d1d1;
    box-shadow: 1px 0px 1px 0px  rgba(250, 250, 250, 0.2);
    padding-left: 40px;
    /* padding-top: 10px; */
    padding-bottom: 20px;
}

.content-dormVisitor span{
    font-weight: bold;
    color:#045dd1;
}

.content-dormVisitor h3{
    color: #0050b9;
    font-size: 28px;
    margin-bottom: 15px;
}

.content-dormVisitor p{
    color: #0050b9;
    margin-top: -20px;
    font-size: 24px;

}
/* ------------------------------------------Type Dorm , Type Room , Cost----------------------------------------------------- */

.type-typeroom-cost-container{
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
    
}

.type-typeroom-cost-container div{
    margin-right: 50px;
}


.address-dormVisitor{
    width: 100%;
    /* padding-left: 20px;  */
}

.table-dormVisitor, .table-dormVisitor tr, .table-dormVisitor td, .table-dormVisitor th{
    border-collapse: collapse;
    border: 2px solid rgb(216, 216, 216);
    padding: 20px;
}

.table-dormVisitor{
    margin-top: 10px;
}

.table-dormVisitor th{
    color: #0050b9;
    font-size: 26px;
}

.table-dormVisitor td{
    color: #0050b9;
    font-size: 24px;
}


.table-cost-dormVisitor {
    margin-top: -15px;
    color: #0050b9;
}

.table-cost-dormVisitor tr,.table-cost-dormVisitor td{
    padding: 5px;
}


/* -------------------------------------------Facility----------------------------------------------------- */

.facilities-dormVisitor{
    margin-top: 50px;
}

.facilities-dormVisitor h4{
    color: #0050b9;
    font-size: 24px;
    margin-bottom: 0px;
}

.facilities-dormVisitor li{
    color: #0050b9;
}

.faciliites-content-dormVisitor{
    margin-top:-30px;
    display: flex;
    justify-content: space-around;
}

/* -------------------------------------------Detail Dorm, Contact----------------------------------------------------- */

.detail-contact-container-dormVisitor{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.detail-container-dormVisitor{
    width: 55%;
    text-align: justify;
}

.contact-container-dormVisitor{
    /* width: fit-content; */
    margin-left: 100px;
}

.table-contact-dormVisitor{
    margin-top: -20px;
}

.table-contact-dormVisitor td{
    color: #0050b9;
}


.btn-back-dormVisitor{
    font-size: 24px;
    border: none;
    outline: none;
    color: white;
    background-color: #1655a7;
    border-radius: 10px;
    padding: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.btn-back-dormVisitor:hover{
    transition-duration: 0.3s;
    background-color: #002a61;
}